src/main/mule/foreachsql.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="f575ec4b-b502-453b-9cbb-a69d6fbd9ac0" >
		<file:connection workingDir="C:\Files" />
	</file:config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="83b596ac-a35b-48eb-a05c-cead558a4777" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Asefa*1973" database="campany"/>
	</db:config>
	<flow name="foreachsqlFlow" doc:id="cd770be2-8226-4b4d-a5cc-bfc9f7c2c31e" >
		<file:listener doc:name="On New or Updated File" doc:id="3dcd8e2c-7df3-4b2e-8c3c-f7ec5fa6ac3b" config-ref="File_Config" moveToDirectory="C:\Files\backup" directory="C:\Files\insert" watermarkMode="MODIFIED_TIMESTAMP">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="1c967fef-f905-46ae-b892-92cafa027475" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="05c6acae-368e-45a9-9636-0178dfeeb31d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map{
	id:$.id,
	name:$.name,
	department:$.department
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="fe638bba-9f5f-459c-af74-04b8e6b5445c" >
			<logger level="INFO" doc:name="Logger" doc:id="8274bc0e-8eef-4307-afdb-6437af62d218" message="#[payload]"/>
			<db:insert doc:name="Insert" doc:id="f85ebf03-248b-4e1f-bd5a-eb8130180852" config-ref="Database_Config">
				<db:sql >INSERT INTO devloper(id,name, department)VALUES(id,:name,:department)</db:sql>
				<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
			</db:insert>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="b37aa535-dbe6-4343-863a-6bc83c0712d7" />
	</flow>
</mule>
